In [2]:
import pandas as pd
df=pd.read_csv('E:/Data Science/PDF/supervised/classification/15-naive-bayes/15-naive-bayes/smsspamcollection/SMSSpamCollection',sep='\t',names=['Status','Message'])
df.head()

  Status                                            Message
0    ham  Go until jurong point, crazy.. Available only ...
1    ham                      Ok lar... Joking wif u oni...
2   spam  Free entry in 2 a wkly comp to win FA Cup fina...
3    ham  U dun say so early hor... U c already then say...
4    ham  Nah I don't think he goes to usf, he lives aro...

In [3]:
s=len(df[df.Status=='spam'])
h=len(df[df.Status=='ham'])
print(s,h)

747 4825

In [4]:
df.loc[df['Status']=='spam','Status']=0
df.loc[df['Status']=='ham','Status']=1
df.head()

  Status                                            Message
0      1  Go until jurong point, crazy.. Available only ...
1      1                      Ok lar... Joking wif u oni...
2      0  Free entry in 2 a wkly comp to win FA Cup fina...
3      1  U dun say so early hor... U c already then say...
4      1  Nah I don't think he goes to usf, he lives aro...

In [5]:
x=df['Message']
y=df['Status']
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2)

In [6]:
from sklearn.feature_extraction.text import CountVectorizer
cv=CountVectorizer()
x_traincv=cv.fit_transform(x_train)
x_testcv=cv.transform(x_test)
y_train=y_train.astype('int')
y_test=y_test.astype('int')

In [7]:
from sklearn.naive_bayes import MultinomialNB
mnb=MultinomialNB()
mnb.fit(x_traincv,y_train)
mnb.score(x_testcv,y_test)

0.9847533632286996

In [8]:
mnb.predict(x_testcv[0])

array([0])

In [9]:
mnb.predict(x_testcv[31])

array([0])

In [20]:
test=cv.transform(['Free free we are distributing mobilephones free.Hurry up!'])
mnb.predict(test)

array([0])

In [16]:
x_test.iloc[31]

'We tried to contact you re your reply to our offer of a Video Handset? 750 anytime networks mins? UNLIMITED TEXT? Camcorder? Reply or call 08000930705 NOW'

In [17]:
x_test.iloc[0]

'Get 3 Lions England tone, reply lionm 4 mono or lionp 4 poly. 4 more go 2 www.ringtones.co.uk, the original n best. Tones 3GBP network operator rates apply.'